.content-block{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: calc(25% - 8px);
    margin-bottom: 16px;
    @media screen and (min-width: 730px) and (max-width: 1200px){
        width: calc(30% - 8px);
    }
    @media screen and (min-width: 500px) and (max-width: 729px){
        width: calc(50% - 8px);
    }
    @media screen and (min-width: 300px) and (max-width: 499px){
        width: 100%;
    }
    &__img{
        img{
            width: 100%;
        }
    }
    &__information-wrap{
        padding: 12px 12px 18px;
        display: flex;
        flex-wrap: wrap;
        >:nth-child(1){
            width: 55%;
        }
        >:nth-child(2){
            width: 45%;
        }
        >:last-child{
            width: 100%;
            margin: 8px 0 0;
        }
    }
    &__information{
        display: flex;
        flex-direction: column;
    }
    &__information-activity{
        font-size: 14px;
    }
    &__information-upload{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    &__information-upload-date{
        font-size: 12px;
        width: 37%;
    }
}