.load-more{
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.03em;
    color: #929292;
    border: 1px solid #929292;
    border-radius: 14px;
    padding: 6px 25px 7px;
    margin: auto;
    cursor: pointer;
}